@model List<PogsRUs.Models.CartProduct>

<div>
    <h1>Shopping Cart Items</h1>
    @if (Model != null)
    {
        @foreach (var cartProduct in Model)
        {
            <h3>@cartProduct.Name</h3>
            <p>Quantity = @cartProduct.Quantity</p>
            <form asp-controller="Cart" asp-action="UpdateCartProductQuantity">
                <input type="hidden" name="userID" value="@User.Identity.Name" method="post" />
                <input type="hidden" name="productID" value="@User.Identity.Name" method="post" />

                <button id="button" type="submit">Update Quantity</button>
            </form>
            <form asp-controller="Cart" asp-action="RemoveCartProduct">
                <input type="hidden" name="userID" value="@User.Identity.Name" method="post" />
                <input type="hidden" name="productID" value="@cartProduct.ProductID" method="post" />

                <button id="button" type="submit">Remove from Cart</button>
            </form>
        }
    }
    else
    {
        <p>Shopping Cart Empty</p>
    }

</div>
