@page
@using PogsRUs.Models.Interfaces

@inject IInventory InventoryManagementService
@{
    var products = await InventoryManagementService.GetProducts();

}

@{
    ViewData["Title"] = "All Products";
    Layout = "_Layout";
}

<h1 class="product-title"> All Pogs R Us Products</h1>

<a asp-page="/Admin/CreateEditProduct" id="button-new">Create New Product</a>



<div class="container">
    @foreach (var product in products)
    {

    <div class="product-contain">
        <div id="image-contain">
            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ID"><img id="post-image" src="@product.Image" alt="@product.Description"></a>
        </div>
        <div id="content-contain">
            <div class="detail-butt-contain">
                <a asp-controller="Product" class="detail-butt" asp-route-id="@product.ID" asp-action="Details">@product.Name</a>
            </div>
            <div class="price-contain">
                <p class="card-price">$ @product.Price</p>
            </div>

        </div>
        <section class="prod-details prod-hide">
            <p>@product.Description</p>
        </section>
        <a asp-page="/Admin/CreateEditProduct" id="button-new" asp-route-id="@product.ID">Edit/Delete Product</a>
    </div>

    }
</div>