@using Microsoft.AspNetCore.Identity
@using PogsRUs.Models
@model PogsRUs.Models.Product
@inject SignInManager<ApplicationUser> signInManager
@inject 
@{
    ViewData["Title"] = "PogsRUs";
    Layout = "_Layout";
}

<div id="post-contain">
    <div id="image-contain">
        <img src="@Model.Image" id="post-image" alt="Post Image" />

    </div>
    <div id="content-contain">
        <div id="auth-contain">
            <label asp-for"Post.Author">@Model.Name</label>
        </div>
        <div id="detail-contain">
            <label asp-for="@Model.Description">@Model.Description</label>
        </div>
        <div id="auth-contain">
            <label asp-for"Post.Author">@Model.Price</label>
        </div>
        <div id="but-contain">
            @if (signInManager.IsSignedIn(User))
            {
            <form method="post">
                <input type="hidden" id="userID" value="@User.Identity.Name" />
                <input type="hidden" id="userID" value="@User.Identity.Name" />

                <button asp-controller="Cart" id="button" asp-action="AddCartProduct" type="submit">Add to Cart</button>
            </form>
            }
            else
            {
                <button asp-controller="Account" id="button-new" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Add to Cart</button>
            }

        </div>
    </div>
</div>
