@using Microsoft.AspNetCore.Identity
@using PogsRUs.Models
@model PogsRUs.Models.Product
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "PogsRUs";
    Layout = "_Layout";
}

<div id="post-contain">
    <div id="image-contain">
        <img src="@Model.Image" id="post-image" alt="Product Image" />

    </div>
    <div id="content-contain">
        <div id="auth-contain">
            <label asp-for"Post.Author">@Model.Name</label>
        </div>
        <div id="detail-contain">
            <label asp-for="@Model.Description">@Model.Description</label>
        </div>
        <div id="auth-contain">
            <label asp-for"Post.Author">@Model.Price</label>
        </div>
        <div id="but-contain">
            @if (signInManager.IsSignedIn(User))
            {
            <form asp-controller="Cart" asp-action="AddCartProduct">
                <input type="hidden" name="userID" value="@User.Identity.Name" method="post"/>
                <input type="hidden" name="productID" value="@Model.ID" method="post"/>

                <button id="button" type="submit">Add to Cart</button>
            </form>
            }
            else
            {
                <button asp-controller="Account" id="button" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Add to Cart</button>
            }

        </div>
    </div>
</div>
<a href="~/Views/Product/Details.cshtml">~/Views/Product/Details.cshtml</a>